.wishlist-container{
    width: 100vw;
    min-height: 80vh;
    text-align: center;
    background-color: rgba(151, 149, 149, 0.3);
    // background-repeat: no-repeat;
    // background-size: contain;
    // backdrop-filter: blur(20px);
    
    h1{
        padding: 30px ;

    }

    img{
        width: 35%;
        // height: 40%;
    }
}