.accounts-container {
	text-align: center;
    display: flex;
    flex-direction: column;
    /* height: var(--mob-height); */
    overflow: hidden;
    
}
.accounts-container h2 {
	color: var(--text-color-primary);
	font-size: var(--headline-h2);

    margin-top: 65px;
}
.accounts-container .buttons{
    margin-top: 185px;
}
.accounts-container p{
    color: var(--text-color-secondary);
    margin-top: 100px;
}
.accounts-container p span{
    color: var(--color-black-white);
    font-weight: 500;
    cursor: pointer;    
}


/*==========break point1 ============*/
@media (min-width:500px){

    .accounts-container h2 {    
        margin-top: 20px;
    }
    .accounts-container .buttons{
        margin-top: 100px;
    }   


}