.menu-container {
	position: fixed;
	left: 0;
	top: 80px;
	width: min(300px, 60%);
	height: 100vh;
	background-color: var(--bg-color-secondary);
	z-index: 6;

	box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.39);
    transition: .5s ease-in-out;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;

	.profile {
		margin: 20px 0;
		display: flex;
	}

	ul {
		margin-top: 40px;

		li {
			list-style: none;
			margin: 10px 0;
		}
	}
}
.bg-blur {
	width: 100%;
	height: 100vh;
	// filter: blur(15px);
	backdrop-filter: blur(2px);
	// background:green;
	text-align: center;
	position: absolute;
	z-index: 5;
}

.menu-open {
	rotate: 90deg;
	background-color: 255, 255, 255, 0.2;
}
