.menu-container {
	position: fixed;
	left: 0;
	top: 80px;
	width: min(300px, 60%);
	height: 100vh;
	background-color: var(--bg-color-secondary);
	z-index: 6;

	// box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.39);
	box-shadow: 10px 0 15px 0px var(--shadow-color);

	transition: 0.5s;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	overflow: hidden;

	.profile {
		margin: 20px 0;
		display: flex;
		align-items: baseline;
		gap: 20px;

		i{
			scale: 1.2;
		}

	}

	ul {
		margin-top: 10px;
		li {
			// filter: contrast(50%);
			font-weight: 500;
			list-style: none;
			margin: 12px 0;
		}
	}
	.log-out{
		margin-top: 40px;
		font-weight: 500;
		filter: contrast(70%);

		span i{
			// filter: contrast(50%);
			// color: var(--text-color-secondary) ;
		}
	}
}
.bg-blur {
	width: 100%;
	height: 100%;
	position: fixed;
	backdrop-filter: blur(2px);
	// background:green;
	text-align: center;
	z-index: 5;
}

// ============ menu animation ============
.menu-open {
	rotate: 90deg;
	transition: 0.5s;
}
