/* Float Button */
.float-btn-container {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: var(--bg-color-ternary);
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(254, 254, 254);
	margin: 5px 20px;
}

.float-btn-container:hover {
	filter: contrast(80%);
}
.float-btn-container .float-btn {
	filter: var(--svg-color);
}
/* Account Button */
.account-btn-container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
.account-btn-container .account-btn {
	width: 335px;
	height: 50px;
	border-radius: 10px;
	border-style: none;
	color: white;

	margin: 5px;
}

/* Large Button */
.large-btn-container {
	width: 100%;
	background-color: transparent;
	position: absolute;
	bottom: 0;

	.large-btn {
		width: 100%;
		height: 75px;

		background-color: #9775fa;
		font-weight: 500;
		font-size: var(--body-b1);
		border: none;
		color: var(--bg-color-secondary);
	}
}

/* cart button */
.cart-btn-container {
	width: 100%;

	.cart-btn {
		padding: 5px 0;
		width: 100%;
		height: 45px;
		font-weight: 600;
		background-color: var(--color-black-white);
		filter: contrast(70%);
		color: var(--bg-color-ternary);

		&:hover{
			filter: contrast(80%);
		}
	}
}

//==== break-point1 =========
@media (min-width: 500px) {
	.large-btn-container {
		width: 35%;
		bottom: 40px;
		left: 50%;
		translate: -50% 0%;

		.large-btn {
			height: 70px;

			border-radius: 10px;
			background-color: #9775fa;
			font-weight: 500;
			font-size: var(--body-b1);
			border: none;
			color: var(--bg-color-secondary);
		}
	}

	/* Account Button */
	.account-btn-container {
		.account-btn {
			width: 435px;
			height: 50px;
			border-radius: 10px;
			margin: 5px;
			font-size: var(--body-b2);
		}
	}

	/* cart btn */
	.cart-btn-container {

		.cart-btn {
			padding: 5px 0;
			width: 220px;
			height: 55px;
			font-size: var(--body-b1);
		}
	}
}
