.menu {
	position: fixed;
	top: 40px;
	left: 30px;
	translate: -50% -50%;

	z-index: 8;
	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;

	img {
		padding: 7px;
	}

}

.header-container {
	position: sticky;
	z-index: 7;
	top: 0;
	// position: relative;
	width: 100vw;
	height: 80px;
	background-color: #9775fa;
	// background-color: var(--bg-color-secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.52);

	.logo {
		padding-left: 70px;
		height: 70%;
		display: flex;
		align-items: center;

		img {
			height: 100%;
		}
	}
	h2 {
		// display: none;
		// margin-top: auto;
		// margin-bottom: 15px;
		color: white;
		// color:#9775FA ;
		font-size: var(--headline-h3);
		font-weight: 700;
	}
	.nav {
		padding-right: 30px;
		display: flex;
		gap: 20px;

		p {
			font-size: small;
			font-weight: 600;
			color: var(--bg-color-secondary);
			color: var(--bg-color-ternary);
		}
	}
}

@media (min-width: 500px) {
	.header-container {
		.menu {
		}

		.logo {
		}

		.nav {
			gap: 50px;
		}
	}
}
