@import url('./variable.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
    /* color: var(--color-black-white); */
    /* color: white; */
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
button{
    cursor: pointer;
}

/* --------------scrollbar styling----------------- */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    
    background-color: #9775FA;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color:  rgb(211, 182, 146);
}