:root{
    --mob-height: 773px;

    --headline-h1: 34px;
    --headline-h2: 28px;
    --headline-h3: 22px;

    --body-b1:17px;
    --body-b2:15px;
    --body-b3:13px;
    --body-b4:11px;
}


:root #light{
	--bg-color-primary:#9775FA;
    --bg-color-secondary:#ffffff;
    --bg-color-ternary:#F5F6FA;
    --text-color-primary:#1D1E20;
    --text-color-secondary:#8F959E;
    --color-black-white: black;

    --svg-color:invert(0%);

}

:root #dark{
    --bg-color-primary:#1B262C;
    --bg-color-secondary:#1B262C;
    --bg-color-ternary:#222E34;
    --text-color-primary:#FFF;
    --text-color-secondary:#8F959E;
    --color-black-white: white;

    --svg-color:invert(100%);
}